body {
  background-color: #4b5158 !important;
}

a {
  text-decoration: none;
}

a:hover {
  color: unset;
}

.day {
  transition: 500ms ease all;
  background-color: rgb(59, 150, 249);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.night {
  transition: 500ms ease all;
  background-color: rgb(20, 42, 95);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 992px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  * {
    font-size: 12px;
  }
}
